body {
    border-radius: 10px;
    padding: 0 15px;
}

.container {
    text-align: left;
}

.text-body-card {
    font-size: 13px !important;
}

.card {
    border: none;
    border-radius: 7px 7px 0 0;
}

.card>img{
    cursor: pointer;
}

.card-body {
    border-width: 0px 1px 1px 1px;
    /* top right bottom left */
    border-style: solid;
    border-color: #e6e6e6;
    border-radius: 0 0px 12px 12px;
    background-color: #F2F2F2;
}

.icon-module {
    color: var(--primary-color);
}

.title-module>fa-icon{
    cursor: pointer;
}


/* Estilos personalizados para el color del paginador */
.custom-page-link {
    color: #5952A2;
}

.custom-page-link:hover {
    background-color: #5952A2;
    border-color: #5952A2;
    color: #fff;
}

.page-item.active .custom-page-link {
    background-color: #5952A2;
    border-color: #5952A2;
    color: #fff;
}